

.logo{
    width: 60px;
    height: 60px;
}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background-color: #1f1e1e;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  color: white
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: hsl(224, 100%, 50%);
  padding: 0.2rem 2rem;
}

nav .name{
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    font-weight: 700;
    margin-left: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 0,5rem;
}
nav a {
  text-decoration: none;
  color: white;
}
nav #toggle,
nav label {
  display: none;
}

li{
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

nav li:hover{
    background-color: rgba(38, 39, 90, 0.4);
    border-radius: 10px;
}


@media (max-width: 1000px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 1rem ;
}
  
  nav label {
    display: inline-block;
    color: white;
    cursor: pointer;
  }

  nav #toggle:checked ~ .menu {
    height: 100%;
    background-color: hsl(224, 100%, 50%);
  }
}

.infomacje{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 50px;
    width: 90%;
} 

.gra{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 70px;
}

.opisek{
    
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 90px;
}

.git{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 60px;
}

.opisa{
  width: 90%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
  margin-left: 90px;
}

.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
  font-size: 60px;
  margin-top: 100px;
  border: hsl(224, 100%, 50%) solid 5px;
  width: 1280px;
  height: 720px;
  box-shadow:hsl(224, 100%, 50%) 0px 0px 10px;
}

.path-info__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
  font-size: 60px;
  margin-top: 100px;
  border: hsl(224, 100%, 50%) solid 5px;
  width: 50%;
  height: 5em;
  background-color: rgb(3, 12, 20);
  box-shadow: hsl(224, 100%, 50%) 0px 0px 10px;
}

.path-info__item__title{
  font-size: 70px;
  color: rgb(255, 255, 255);
}

.path-info__item__description{
  font-size: 30px;
  color: rgb(255, 255, 255);
  align-items: center;
  margin-left:auto;
  margin-right: auto;
}

.info{
  width: 90%;
}

@media(max-width: 700px){
  .path-info__item__description{
    font-size: 20px;
  }

  .path-info__item__title{
    font-size: 30px;
  }
}

.napisBlur{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
  color: red;
  margin-top: 1000px;
}

@media(width < 1280px){
  .game{
    filter: blur(4px);
    width: 50%;
    height: 50%;
    background-image: url(https://wydawnictwoagora.pl/wp-content/uploads/2022/03/Under-4MBs_BarackObama_20190417_WashingtonDC_CrownPublishingGroup_Photo-PariDukovic_Usage4_1154-cropped_web-458x620.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .napisBlur{
    display: flex;
    margin: auto;
  }
  .score{
    display: none;
  }
}

@media(width < 680px){
  .napisBlur{
    font-size: 45px;
  }
}

@media(width > 1280px){
  .game{
    background-image: none;
  }
}


@media (max-width: 620px){
  .napisBlur{
    font-size: 30px;
  }
    .nav .name{
      font-size: 18px;
    }
}

.score{
  
}